#app {
    @apply w-screen absolute transition-all duration-300 ease-in-out;
}

#app:not(.console-shown) {
    @apply max-h-screen h-app;
}

#app.console-shown {
    @apply h-[50%];
}

.h-app {
    height: calc(100% - 40px);
}

.vc-panel {
    min-height: 50% !important;
}
.vc-mask {
    display: none !important;
}

.vc-spacer {
    @apply h-8 w-full
}

.vc-inner-spacer {
    @apply flex-1
}

.vc-console-placeholder {
    @apply w-full bg-[#191919] h-10 bottom-0 fixed inset-x-0 text-sm flex items-center justify-center;
}

.vc-console-trigger-button {
    @apply bg-[#191919] text-white p-2;
}

