@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  @apply bg-[#f5f5f5] w-full h-full flex flex-col justify-center items-center;
}

#app h1 {
  @apply text-3xl font-bold text-center mb-3 text-gray-600;
}

[data-test="rating-wrapper"] {
  @apply p-2 flex items-center justify-center mb-2;
}
button {
  @apply focus:outline-none;
}

.perfect-rating svg {
  @apply text-orange-500;
}

.solid-star {
  @apply w-6 h-6 text-yellow-500;
}

.outline-star {
  @apply w-6 h-6 text-gray-500;
}
